header {
    background-color: blanchedalmond;
    transition: width 4s, height 4s;
    transition-timing-function: ease-in;
    border-radius: 50%;
}
header :hover {
    width: 150px;
    height: 150px;
}