h1 {
    text-align: center;
    color: rgb(15, 59, 4);
}
body {
    background-color: rgb(238, 215, 185);
}
header {
    display: flex;
    justify-content: center;
    background-color: blue;
}
.logo p {
    font-size: 25px;
    color: rgb(204, 19, 19);
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
    width: 80%;
}
div {
    display: block;
    display: flex;
}